/* * ---------body--------- */
.containers{
    padding: 0 150px;
}
.body{
    padding-top: 50px;
}
.ads{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.buttonAds button{
    padding:6px 14px;
    background-color: #FFEEEE;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: #F54748;
}
.buttonAds button:hover{
    color: #fff;
    background-color: #F54748;

}
.title{
    padding: 20px 0;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700 !important;
}
.title>.pColor{
    color: #F54748;
}
.title>.pColor>.spanColor{
    color: #000;
}
.adsDescription{
    line-height: 20px;
    word-spacing: 0.2rem;
    color:#5D5D5D;
    font-size: 16px;
    padding-bottom: 16px;
}
.adsLocation input{
    height:40px;
    border: 1px solid #F54748;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 0px 25px;
    font-size: 12px;

}.adsLocation button{
    height:40px;
    padding: 0px 25px;
    border:none;
    border: 1px solid #F54748;
    background-color: #F54748;
    border-left: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color:#fff;
    font-size: 12px;
}
.adsLocation button:hover{
    background-color: #f26666;
}
.adsImg{
    text-align: center;
    margin-left: 90px;
}
.adsImgborderOne{
    background-color: #FFEEEE;
    padding: 20px;
    border-radius: 50px;
    width: 90%;
    
}
.adsImg img{
    width: 100%;
    height:340px;
    border-radius: 50px;
    background-color: #F54748;
    padding-top: 20px ;
    padding: 0 5px;
}
/* ------BODY------ */
/* ------Products---- */
.productsContent{
    padding: 10px;
}
.productsTitle{
    text-align: center;
    padding: 20px;
}
.productsTitle h2{
    font-size: 30px;
    padding: 20px;
}
.productsTitle p{
    color:#5D5D5D;
}
.productList{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.products img{
    width:100%;
    height:200px;
    border-radius: 10px;
}
.products p{
    padding: 15px 0;
    font-size: 13px;
    font-weight: 550;
    color: #F54748;
}
.list_Product li{
    display: inline-flex;
    list-style: none;
    width: 100px;
    font-size: 13px;
}
.list_Product li:last-child{
    margin-left: 20px;
}
.list_Product li i{
    color: #000;
    font-size: 15px;
}
.list_Product span{
    margin-left: 10px;
}
/* ------Category---- */
.categoryItems{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.titleCategory{
    margin: 10px 20px;
    font-size:20px;
}
.viewCategory{
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #F54748;
    color: #F54748;
    font-weight: bold;
}
.viewCategory:hover{
    background-color:#F54748;
    color: #fff;
    border: 1px solid #fff;
}
.Items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
.category{
    padding: 20px;
    text-align: center;
    font-size: 12px;
}
.category img{
    padding: 10px;
    width: 100%;
}
/* ------Contact Us----- */
.contact{
    padding: 20px 0;
}
.titleContact{
    font-size:20px;
    text-align: center;
}
.form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 20px 0;
    padding: 50px;
    color: rgb(111, 108, 108);
    font-size:12px;
}
.form input{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border: 1px solid rgb(111, 108, 108);
    border-radius: 2px;
}
.message{
    color: rgb(111, 108, 108);
    font-size:12px;

}
.message textarea{
    margin-top: 10px;
    border: 1px solid rgb(111, 108, 108);
    border-radius: 2px;
    width: 100%;
    font-size: 10px;
    padding: 10px;
}
.submit{
    padding: 10px;
    text-align: center;
}
.submit button{
    padding: 13px 40px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.submit button:hover{
    background-color: rgb(58, 58, 58);
}
.line{
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid #989696;
}