.containery {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-banner {
    height: 100vh;
    box-shadow: 50px 50px 50px 50px rgb(46, 39, 39);

}

.form-banner img {
    width: 100%;
    height: 100%;
}

.forms {
    height: 100vh;
    background-color: #373333;
    padding: 38.5px;
    box-shadow: 50px 50px 50px 50px rgb(46, 39, 39);
    font-family: 'Inter', sans-serif;
    display: inline-block;
}

.form-input {
    border: 1px solid #37A9CD;
    border-radius: 8px;
    height: 35px;
    padding-left: 17px;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 16px;
    color: #070707;
}

.form-input:focus {
    outline: none;
}

.form-label {
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #f9fafc;
}

.form-control {
    margin: 15px 0;
    width: 100%;

}

.buttons {
    background: #4e51ef;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.login-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 39px;
    color: rgb(244, 244, 246);
    text-align: center !important;
    margin-top: 0;
}

.login__welcome {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 0;
    text-align: center;
    color: #f4f6f8;
}

.logoss {
    margin-top: 45px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2px;
}

.logo-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    color: #f2eeee;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.dot {
    background-color: #F54748;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.button-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #4e51ef;
}

.text-blue {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #0e50d5 !important;
    text-align: center;
}

.form-joinfree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-joinfree p {
    margin: 0 5px;
    color: #fff;
}