*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.containers{
    padding: 0 150px;
}
/* -------HEADER------ */
.logo{
    padding:18px 0 ;

}
.header{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
}
.menu{
    text-align: center;

}
.listMenu{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
}
.listMenu li{
    padding:18px 12px;
}
.listMenu li:hover{
    color:#F54748;
}
.menuSign{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:15px 6px;
    float: right;
    grid-gap: 10px;
    font-size: 12px;
}
.cart{
    float: right;
    margin-left: 40px;
    font-size:20px;
    margin-top: 5px;

}
.signIn,.signUp{
    border: 1px solid #F54748;
    padding: 5px;
    text-align: center;
    border-radius: 5px;width: 100%;
}
.signIn:hover,.signUp:hover{
    background-color: #F54748;
    color: #fff;
}
/* ---------BODY--------- */
.body{
    width: 100%;
}
.banner img{
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 0 2px;
}
.body .content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px 0;
}
.list li{
    padding: 10px 0;
    font-weight: 600;
    list-style: none;
}
.listProducts{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}
.products{
    width: 100%;
}
.products img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 5px ;
}
.products .name{
    margin:14px 0;
    font-size:14.5px;
}
.products .price{
    color:#F54748;
    margin:10px 0;
}
.products button{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 5px;
    background: #000;
    color:#fff;
}
.products button:hover{
    background-color: rgb(58, 58, 58);
}
.line{
    margin-top: 70px ;
    border-top: 1px solid #000;
}
/* -------FOOTER------- */
.footer{
    margin-top: 30px;
    display: inline-flex;
    width: 100%;
    height:130px;
    justify-content: space-between;
}
.footermenu ul li{
    list-style-type: none;
    display: inline-flex;
    margin:0 10px;
}
.footermenu ul li:hover{color:#F54748}